* text=auto

.gitattributes text eol=lf
gradlew text eol=lf
*.sh text eol=lf
*.kts text eol=lf
CMakeLists.txt text eol=lf
*.cmake text eol=lf
*.in text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.cpp text eol=lf
*.h text eol=lf

*.bat text eol=crlf
*.jar binary
